.col-icon{
background-color:#1c1f20!important;
padding: 15px;
color: whitesmoke;
/*height:750px!important;*/
}
.col-request{
background-color:#eff4f936!important;
padding: 15px;
color: whitesmoke;
max-height:400px;
}
.col-7{
/*height:750px!important;*/
background-color:#eff4f936!important;
padding: 15px;
color:black;
}
a{
color: whitesmoke;
text-align: center;
text-decoration: none;
background-color: transparent;
}
a:hover
{
color: #e7eff6!important;
}
.col-icon a{
font-size: 18px;
color: #ffffff;
text-decoration: none;
align-content: center;
margin: auto;
padding: 5px;
}
.col-icon a i{
font-size: 45px;
color: #61919f;
text-align: center;
padding: 11px;
width: 100%;
}

p{
/*background-color: #eff4f9;*/
background-color:#e7eff6;
font-size: 50px;
text-align: center;
color: black;
margin-top: 0;
margin-bottom: 0.5rem!important;
width: 100%;
margin-bottom: 0;
font-family: monospace;
}
.col-8
{
background-color: #f8f9fa!important;
}
#Addaccountant,#Addclient{
margin-left: auto;
color: #569ddd;
background-color: #080707;
font-size: 15px;
}
/* formaccountant.php*/
.col-form-label
{
font-size: 25px;
padding: 0;
font-family: monospace,sans-serif
}
label{
font-size: 22px;
padding: 0;
font-family: monospace,sans-serif
color:black;
}
.form-control{
border: 2px solid #5092a1;
}
#back button{
background-color:black;
color:white;
font-size: 30px;
}
/* table edit delete
*/
#edit{
font-size:20px;
color:#104176;
border:2px solid #104176;
padding: 3px;

}
#delete{
font-size:20px;
color: #ce0014!important;
border:2px solid;#ce0014!important;
padding: 3px;

}

.col-md-5{
height:150px;
width:350px;
/*margin: 2.0rem 2.0rem 0rem 2.0rem;*/
margin: 1rem auto auto auto;
padding: 5px;
border:2px solid #1c1f20!important;
border-radius: 35px;
position: relative;
animation: move 2s 1;
animation-timing-function:ease-in-out;
z-index:-1;
}
.col-md-5 h1{
font-size:30px;
text-align: center;
/*padding-left: 40px;*/
font-family: monospace;
position: relative;
animation: move 2s 1;
animation-timing-function: ease;
}
@keyframes move{
from{right:800px;}
to{right:0px;}
}
.col-md-5 .fa
{
float:right;
padding-top: 1.0rem;
padding-right: 1.5rem;
font-size: 25px;
}
.number
{
color: #659dc4;
margin-top: 10px;
text-align: center;
font-size: 40px;
font-family: monospace;
}
.btn
{
width:170px;
}
#details
{
font-size:15px;
}
/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px)
{

.col-md-5
{
height:150px;
width:350px;
/*margin: 2.0rem 2.0rem 0rem 2.0rem;*/
margin: 1rem auto auto auto;
padding: 5px;

}
.col-md-5 h1
{
font-size:25px;
}
}
/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
/*.col-icon,.col-3,.col-7{

height:600px!important;
}*/
.col-md-5{
height:150px;
width:350px;
margin:1rem auto auto auto;
padding:5px;
}
.col-md-5 h1{
font-size:25px;
text-align:center;
}
.number{
font-size: 35px;
padding-left: 2rem;
}
}
/*
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 850px) and (max-width: 1024px) {
#details
{
font-size:12px;
margin-top: 1.3rem;
}
}
@media (min-width: 768px) and (max-width: 849px) {
#details
{
font-size:10px;
margin-top: 1.3rem;
}
}
@media (min-width: 768px) and (max-width: 1024px) {

.col-md-5{
height:150px;
width:300px;
}
.card
{
font-size:15px;
width:170px;
}
p
{
font-size:45px;
}
.col-form-label
{
font-size: 20px;
color:black;
}
.h1,h1
{
	font-size: 2.0rem!important;
}
label{
font-size: 18px;
}
/*.col-icon,.col-3,.col-7{

height:500px!important;
}*/
.col-icon a
{
font-size: 15px;
}
.col-icon a i
{
font-size: 35px;
}

.col-md-5 h1{
font-size:20px;
text-align:center;
}
.col-md-5 .fa
{
padding-right: 1.0rem;
}
.number{
margin-top: 1.5rem;
font-size: 30px;
padding-left: 2rem;
}

}
/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

//CSS

}
/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
@media (min-width: 602px) and (max-width: 767px) {

/*.col-icon,.col-request,.col-7{
height:400px!important;
}*/
.col-md-5
{
width: 170px;
height: 130px;
}
#details
{
font-size:10px;
margin-top: 1.0rem;
margin-left: 0rem!important;
}
.card
{
font-size:11px;
width:130px;

}
p
{
font-size:30px;
}
.col-md-5 h1{
font-size:20px;
text-align:center;
}
.col-md-5 .fa
{
padding-right: 1.0rem;
font-size: 20px;
}
.number{
margin-top: 1.5rem;
font-size: 25px;
padding-left: 0rem;
}
.col-icon a
{
padding: 0;
font-size: 12px;
}
.col-icon a i
{
font-size: 30px;
}

}
@media (min-width: 481px) and (max-width: 601px) {

/*.col-icon,.col-request,.col-7{
height:350px!important;
}
*/
.col-md-5
{
width: 140px;
height: 110px;
}
#details
{
font-size:8px;
margin-top: 1.0rem;
margin-left: 0rem!important;
}
p
{
font-size:20px;
}
.card
{
font-size:11px;
width:100%;

}

.col-md-5 h1{
font-size:15px;
text-align:center;
}
.col-md-5 .fa
{
padding-right: 1.0rem;
font-size: 15px;
}
.number{
margin-top: 1.5rem;
font-size: 20px;
padding-left: 0rem;
}
.col-icon a
{
padding: 0;
font-size: 10px;
}
.col-icon a i
{
font-size: 20px;
}
}
@media (min-width: 481px) and (max-width: 767px) {
.btn
{
width:130px;
font-size:10px;
}

}
/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
@media (min-width: 321px) and (max-width: 480px) {
.row {

display: block;

flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
.col-md-5{
max-width: 75%;
padding:0!important;
}
.dis2{
font-size:14px;
margin-top: 1.0rem;
margin-left:0.5rem;
}
.col-icon,.col-request,.col-7
{
max-width: 100%!important;
/*height:400px!important;*/
}
.col-3
{
max-width: 100%!important;
}


p
{
font-size:20px;
}
.card
{
margin-left: 0.5rem;
width:330px;
}
.col-icon a{
display: inline-block;
float:left;
}
.col-icon a i {
font-size: 40px;
color: #61919f;
text-align: center;
padding: 0;
width: 100%;}
#Addaccountant, #Addclient
{
margin:auto;
font-size:20px;
}
.btn{
width: 50%;
margin-top: 0.5rem;
}
.col-request,.col-7
{
display:inline;
}
}
/*@media(max-height: 360px)
{
.col-icon a i {
font-size: 40px;
color: #61919f;
text-align: center;
padding: 0;
width: 100%;}
}*/
@media (max-width: 320px)
{
.row {
display: block;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
p
{
font-size:30px;
}
.col-3,.col-7{
max-width: 100%!important;
}
.col-icon
{
max-width: 100%!important;
/*height:450px!important;*/
}
.col-request {
width:300px;
}
.dis2{
font-size:14px;
margin-top: 2.0rem;
margin-left: 1.0rem;
}
.col-md-5
{
width:250px;
}

}